i{
    vertical-align:middle;
    display: inline-block;
}
.nz-step-icon{    
    animation: allblink 2s infinite;
  }
  @keyframes allblink { 
  0% { }
  50% {  background-color:yellow; } 
  }